.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.input {
  padding: 10px;
  border: 1px solid #5822b4;
  border-radius: 16px;
}

.input::placeholder {
  font-size: 12px;
  line-height: 1.3em;
  color: rgba(114, 112, 112, 0.897);
}

.button {
  display: inline-block;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-image: linear-gradient(
    90deg,
    #991eeb 0.03%,
    #5822b4 39.91%,
    #5822b4 72.7%,
    #991eeb 99.99%
  );
  border-radius: 16px;
  border: none;
  text-align: center;
  margin-left: 10px;
}

.button img {
  display: inline;
  width: 20px;
  height: 20px;
}
